{% extends 'acervo/base.html' %}

{% block conteudo %}
<h3>Livros</h3>
<form method="get">
    <input type="text" name="buscalibros" placeholder="Pesquisar livro por título, tipo ou categoria"
    value="{{request.GET.buscalibros|default:''}}" autocomplete="off">
    <button type="submit">Buscar</button>
    {% if request.GET.q %}
        <a href="?">Limpar</a>
    {% endif %}
</form>

<ul>
    {% for livro in livros %}
    <li>{{livro.titulo}} - {{livro.autor}} - {{livro.ano}}
        {{ livro.get_tipo_display }} - {{ livro.get_categoria_display }}
    </li>
    {% empty %}

    <li>nenhum livro cadastrado</li>

    {% endfor %}
</ul>

{% endblock %}