{% extends 'acervo/base.html' %}

{% block conteudo %}
<h1>Livros</h1>
<h2>Digital</h2>
{% for livro in livros %}
<ul>
    {% if livro.tipo == 'digital' %}
    <li>{{livro.titulo}} - {{livro.autor}} - {{livro.ano}}</li>
    {% endif %}
    {% empty %}
    <li>Nenhum livro digital Cadastrado</li>
    {% endfor %}
</ul>

<h2>Fisico</h2>
{% for livro in livros %}
<ul>
    {% if livro.tipo == 'fisico' %}
    <li>{{livro.titulo}} - {{livro.autor}} - {{livro.ano}}</li>
    {% endif %}
    
    {% empty %}
    <li>Nenhum livro digital Cadastrado</li>
    {% endfor %}
</ul>

{% endblock %}